.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %table.table.profile
      %tr
        %th{colspan: '2'}= @user.username
      %tr
        %td{colspan: '2'}
          =image_tag(@user.avatar.url, size: '300', class: 'img-circle')
      %tr
        %td{colspan: '2'}= link_to 'Редактировать профиль', edit_user_registration_path
      - if @user.comments.any?
        %tr
          %td= 'Ваши комментарии'
          %td= 'к посту:'
        - @user.comments.each do |comment|
          %tr
            %td= truncate(comment.body, length: 30)
            %td= link_to comment.post.title, category_post_path(comment.post.category_id, comment.post_id)
      - else
        %tr
          %td{colspan: '2'}= 'Вы не оставили ни одного комментария'
- if policy(@user).edit?
  .list-group
    %a.list-group-item.active='Список всех пользователей:'
    - @users.each do |user|
      %a.list-group-item
        %input.user_id{value: user.id, hidden:true}
        = user.email
        = user.username
        = select(:user, :role, User.roles.keys.map {|role| [role.titleize,role]}, {selected: user.role})
        %button.btn.btn-default.delete_user.glyphicon.glyphicon-trash.icon.red.float-right
        %button.btn.btn-default.update_user.glyphicon.glyphicon-refresh.icon.float-right
