= simple_form_for ([@category, post]) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :Название
    = f.text_field :title, class: 'form-control', placeholder: 'Допускается не более 25 символов', maxlength: '25'
  .form-group
    = f.label :Описание
    = f.text_field :description, class: 'form-control', placeholder: 'Допускается не более 100 символов', maxlength: '100'
  .form-group
    = f.label :Тело_поста
    = f.text_area :body, id: 'wysiwyg'
  .form-group
    = f.label :Картинка_для_Social_Sharing
    = f.file_field :image, class: 'form-control'
  .actions
    = f.submit class: 'btn btn-my'
