%p#notice= notice
.row
  .col-md-12
    .col-xs-12.col-sm-6.col-md-4.col-lg-4
      #svg-container
        %svg{:height => "100%", :width => "100%", :viewbox => "0 0 100 100", :preserveAspectRatio => "none"}
          %polygon{:fill => "white", :points => "0,100 100,0 100,100"}
      = link_to new_post_path do
        %table.table.post
          %tr
            %td.plus{colspan: 3, rowspan: 4}
      #svg-container
        %svg{:height => "100%", :width => "100%", :viewbox => "0 0 100 100", :preserveAspectRatio => "none"}
          %polygon{:fill => "white", :points => "100,0 0,100 0,0"}
    - @posts.order! 'created_at DESC'
    - @posts. each do |post|
      .col-xs-12.col-sm-6.col-md-4.col-lg-4
        #svg-container
          %svg{:height => "100%", :width => "100%", :viewbox => "0 0 100 100", :preserveAspectRatio => "none"}
            %polygon{:fill => "white", :points => "0,100 100,0 100,100"}
        %table.table.post
          %tr
            %th.title{colspan: 3}= link_to post.title, post
          %tr
            %td.time{colspan: 3}= post.created_at.strftime("%e, %B %Y %X")
          %tr
            %td{colspan: 3}= post.body
          %tr
            %td
              =link_to post, class: "btn btn-default ico" do
                %i.glyphicon.glyphicon-eye-open.icon{"aria-hidden" => "true"}
            %td
              =link_to edit_post_path(post), class: "btn btn-default ico" do
                %i.glyphicon.glyphicon-pencil.icon{"aria-hidden" => "true"}
            %td
              =link_to post, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-default ico" do
                %i.glyphicon.glyphicon-trash.icon{"aria-hidden" => "true"}
        #svg-container
          %svg{:height => "100%", :width => "100%", :viewbox => "0 0 100 100", :preserveAspectRatio => "none"}
            %polygon{:fill => "white", :points => "100,0 0,100 0,0"}
