.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    =render partial: 'layouts/svg', locals: {points: '0,100 100,100 100,0', fill: 'white'}
    %table.table.post
      %tr
        %th.title.no-border{colspan: '2'}= @post.title
      %tr
        %td.body.no-border.fr-view{colspan: '2'}= simple_format(@post.body, {}, sanitize: false)
      %tr
        - if policy(@post).edit?
          %td.no-border= link_to 'Редактировать', edit_category_post_path(@category, @post)
        %td.no-border= link_to 'Назад', category_path(@category)
    %br
    = social_share_button_tag(@post.title, desc: @post.description, image: @post.category.image)
    %br
    -if current_user
      Оценка поста: #{rating_for @post, 'post_rating', enable_half: true, cancel_hint: 'Отменить эту оценку'}
      %br/
    .list-group.comments
      %a.list-group-item.active
        = 'Комментарии:'
      - if @post.comments.any?
        - @post.comments.each do |comment|
          %a.list-group-item
            .comment_author
              =image_tag(comment.user.avatar.thumbnail.url, class: 'img-circle')
              %span
                = comment.user.username
              %span.comment-date
                = I18n.l(comment.created_at, format: :short)
            %textarea.body_edit{hidden: true}
            %pre.comment_body.inline{ id: "comment_body_#{comment.id}"}= comment.body
            %input.comment_id{ value: comment.id, hidden: true }
            - if policy(comment).destroy?
              %button.btn.btn-default.delete_comment.glyphicon.glyphicon-trash.icon.red.float-right
            - if policy(comment).edit?
              %button.btn.btn-default.edit_comment.glyphicon.glyphicon-pencil.icon.float-right
      - else
        %h4.no-comment= 'Ещё никто не оставил комментарий. Будьте первым!'
    .row
      - if user_signed_in?
        .col-md-6
          - if current_user&.banned?
            %p
              = 'Вы были забанены и не можете оставлять комментарии'
          - else
            %textarea.form-control#comment_body
            %input#post_id{ value: @post.id, hidden: true }
            %input#author_id{ value: current_user.id, hidden: true }
            %input#author_username{ value: current_user.username, hidden: true }
            %input#author_avatar{ value: current_user.avatar, hidden: true }
            %button.btn.btn-my.mt-10.create_comment= 'Добавить комментарий'
      - else
        .col-md-6
          %p
            ='Чтобы оставлять комментарии'
            %a= link_to 'Войдите', new_user_session_path
            ='либо'
            %a= link_to 'Зарегистрируйтесь', new_user_registration_path
